body{
    width: 1609px;
    height: 2970px;
}
.main1{
    height: 700px;
    width: 180px;
    background-color: #1C59A1;
    color:white;
    text-decoration: none;
    margin-left:10px;
    

}
.sidebar1{
    padding:13px;
    color:white;
    text-decoration: none;
}
.list0{
margin-top: 20px;
text-decoration: none;
list-style-type: none;
display: flex;
flex-direction: column;
/* color:white; */
padding:30px;
margin-bottom: 30px;
}
.main{
    display: flex;
      text-decoration: none;

}
.sidebar{
    padding-bottom: 60px;
    text-align: center;
    
}
.main2{
    display: flex;
   text-decoration: none;
}
.list{
    display: flex;
    margin:20px;
    text-decoration: none;
    list-style-type: none;
}
.button{
    margin:20px;
    
    padding-right:148px;
    border-radius: 14px;
    border:solid rgb(174, 172, 172);
    box-shadow: 8px 8px 10px rgb(173, 173, 173);
   
}
.radius{
    border-radius: 100%;
}
.new{
    margin:40px;
 

}
.add{
   padding:10px;
   padding-right:50px;
   margin-bottom: 20px;
}