body{
    height: 1609;
    width: 1609;
}
.main1{
    height: 700px;
    width: 180px;
    background-color: #1C59A1;
    color:white;
    text-decoration: none;
    margin-left:10px;
    

}

.main{
    display: flex;
      text-decoration: none;

}
.list0{
margin-top: 20px;
text-decoration: none;
list-style-type: none;
display: flex;
flex-direction: column;
/* color:white; */
padding:30px;
margin-bottom: 30px;
}
.sidebar1{
    padding:13px;
    color:white;
    text-decoration: none;
}
.main2{
    display: flex;
   text-decoration: none;
}
.list{
    display: flex;
    margin:20px;
    text-decoration: none;
    list-style-type: none;
}
#line{
    text-decoration:underline 5px #1C59A1;
    
}
.sidebar{
    padding-bottom: 60px;
    text-align: center;
    
}
.button{
    margin:20px;
   padding-right:148px;
    border-radius: 14px;
    border:solid rgb(174, 172, 172);
    box-shadow: 8px 8px 10px rgb(173, 173, 173);
   
}
.radius{
    border-radius: 100%;
}

.exam{
    height: 40px;
    width: 230px;
    background-color:#1C59A1;
    padding-top:10px;
    text-align: center;
    color:white;
     box-shadow: 8px 8px 10px white inset;
}
.flex{
   
   
   margin:40px;
    
}.text1{
    display: flex;
    gap:2rem;
}
.text2{
      display: flex;
      gap:2rem;
      padding-bottom: 20px;
}
.inner{
    height:50px;
    width: 204px;
    background-color: white;
    text-align: center;
    padding-top:.3px;
     box-shadow: 8px 8px 10px rgb(194, 194, 194) ;

} 
.text{
    text-align: center;
    color: #1C59A1;
   
}