.main1{
    height: 500px;
    width: 180px;
    background-color: #1C59A1;
    color:white;
    text-decoration: none;
    margin-left:10px;
    

}

.main{
    display: flex;
      text-decoration: none;

}
.list0{
margin-top: 20px;
text-decoration: none;
list-style-type: none;
display: flex;
flex-direction: column;
/* color:white; */
padding:30px;
margin-bottom: 30px;
}
.sidebar1{
    padding:13px;
    color:white;
    text-decoration: none;
}
.main2{
    display: flex;
   text-decoration: none;
}
.list{
    display: flex;
    margin:20px;
    text-decoration: none;
    list-style-type: none;
}
#line{
    text-decoration:underline 5px #1C59A1;
    
}
.sidebar{
    padding-bottom: 60px;
    text-align: center;
    
}
.button{
    margin:20px;
    padding-right:148px;
    border-radius: 14px;
    border:solid rgb(174, 172, 172);
    box-shadow: 8px 8px 10px rgb(173, 173, 173);
   
}
.radius{
    border-radius: 100%;
}
.main3{
    margin:80px;
    color:#153E6D;
    /* padding-bottom: 20px; */
}
.exam{
    height: 40px;
    width: 230px;
    background-color:#1C59A1;
    padding-top:10px;
    text-align: center;
    color:white;
     box-shadow: 8px 8px 10px white inset;
}
.flex{
    display: flex;
    height: 250px;
    width: 1000px;
    background-color: rgb(238, 240, 241);
    margin:20px; 
    padding:20px; 
    gap:3rem;
    
}
.inner{
    height:50px;
    width: 204px;
    background-color: white;
    text-align: center;
    padding-top:.3px;
     box-shadow: 8px 8px 10px rgb(194, 194, 194) ;

} 
.text{
    text-align: center;
    color: #1C59A1;
   
}
.com1{
    height: 100px;
    width: 900px;
    background-color: #EEEEEE;
    margin:20px;
     display: flex;
     padding:12px;
      gap:3rem;
}
.com2{
    height: 100px;
    width: 900px;
     display: flex;
    padding:12px;
      gap:3rem;
    background-color: #EEEEEE;
    margin:20px;
}
.com3{
    height: 100px;
    width: 900px;
    background-color: #EEEEEE;
    margin:20px;
    padding:12px;
    display: flex;
    gap:3rem;
}
.img{
    margin-top:29px;
}
.form{
    margin:8px;
   
}
.input{
    margin-top: 10px;
   border:solid #FF0000;
    width: 280px;
    
}
.input1{
    margin-top: 10px;
   border:solid #FF0000;
   height:110px;
   width: 280px;
    
    
}
.btn{
    margin-top:20px;
    background-color: #B6B3B3;
    color:white;
    border: #B6B3B3;
   padding:4px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 7px;

}
.write{
    color:#E70303;
}
.mainfoot{
    background-color: #1C59A1;
    height: 200px;
    width: 950px;
   padding:10px;
}
.foot{
    display: flex;
    gap:2rem;
    color:white;
}
.footer{
    display: flex;
     text-decoration: none;
}
.link{
    display: flex;
    flex-direction: column;
    gap:1rem;
    color:white;
   
    text-decoration: none;
}
.link1{
   color:white;
   
    text-decoration: none; 
}
.para{
   display: flex;
   gap:44rem;
}
