header, footer {
  background-color: #8e44ad;
  color: white;
  text-align: center;
  padding: 1em;
}

nav a {
  margin: 0 1em;
  color: white;
  text-decoration: none;
}

section {
  padding: 3em;
  color: white;
}

.history {
  background: url('fort.webp') center/cover fixed;
}

.culture {
  background: linear-gradient(to right, #e74c3c, #f39c12);
}

.travel {
  background: radial-gradient(circle, #3498db, #2c3e50);
}

h2 {
  font-size: 2em;
  font-weight: bold;
}