*{
    
    padding:0;
    margin: 0;
}
.main1{
    border:solid green;
     background-color: rgb(217, 253, 217);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
nav{
    margin: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2rem;
    width: 100%;
    h5{
            font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 20000;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
        }
    ul{
        display: flex;
    flex-direction: row;
    gap: 20px;
    
        list-style: none;
        
    a{
    text-decoration: none;
    color: black;
}
    }
}
 header h5{
    justify-content: left;
}
.b{
    height: 300px;
    width: 300px;
    border:solid green ;
    border-radius: 20%;
    border-end-start-radius: 5%;
    border-top-left-radius: 15%;
    background-color: darkgreen;

}
.back{
    background-color: rgb(217, 253, 217);
    padding:7px;
}
.bac{
    background-color:darkgreen;
    color:white;
    box-shadow:10px 10px 50px black;

    padding:5px ;
}
.c1{
    padding:40px;
    margin:30px;
    display: flex;
    justify-content:space-evenly;
    

}.c2{
    font-size: 1.5rem;
}.c3{
    color:darkgreen;
}
.best{
    text-align: center;
    color:rgb(6, 81, 6);
}
.img{
    text-align: center;
   display: flex;
    justify-content:space-evenly;
}
.b1{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color: rgb(137, 213, 137);
   
}
.s1button{
    display: flex;
    justify-content: center;
    margin-top: 19px;
}
.s1{
    padding:5px;
   
  
}
.main3{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    text-align: center;
    
    height: 1000px;
    width: 1200px;
}
.o1{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    /* height: 800px; */
   
}
.o2{
    display:flex;
    margin:30px;
     gap:3rem;
    padding:20px;
    justify-content: space-between;
    
    
}
.o3{
    display: flex;
    margin:30px;
     gap:3rem;
    padding:20px;
    justify-content: space-evenly;
}
.m1{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color: rgb(223, 245, 253);
    
   
}
.m2{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color: rgb(199, 228, 246);
   
}
.m3{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color: rgb(189, 222, 243);
   
}
.m4{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color:rgb(184, 223, 248);
   
}
.m5{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color: rgb(247, 247, 199);
   
}
.m6{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color: rgb(250, 250, 219);
   
}
.m7{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color: rgb(252, 252, 209);
   
}
.m8{
    height: 300px;
    width: 250px;
    /* border:solid green ; */
    background-color: rgb(244, 244, 203);
   
}
.d1{
    color: rgb(48, 121, 48);
    margin-top: 10px;
    
}

.d2{
    display:flex;
    list-style: none;
    text-decoration: none;
    gap:5rem;
    justify-content: center;
    margin-top: 10px;
    
}
.main4{
    background-color: #C2EFD4;
    height: 450px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(25, 55, 25);
    
    margin-left: 200px;
}
.w1{
    display: flex;
    
}
.w2{
    margin-top: 30px;
    
}

.w4{
    display: flex;
    margin-top: 20px;
  
    padding:10px;
    
}

.w10{
    display:flex;
     
}
.w11{
    border:solid white ;
    background-color: white;
    padding:9px;
     margin:10px;
}
.w13{
    border:solid white ;
    background-color: white;
    padding:9px;
     margin:10px;
}
.w14{
    border:solid white ;
    background-color: white;
    padding:9px;
    margin:10px;
}
.w12{
    background-color: rgb(7, 88, 7);
    padding-left: 22px;
    padding-right:22px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:aliceblue;

}
.z1{
 padding:30px;
    margin-top: 30px;
}

.z2{
    color: #224F34;
     display: flex;
    justify-content: center;
    margin:30px;
   
}
.z3{
    color: #224F34;
     display: flex;
    justify-content: center;
}

.q1{
    height: 300px;
    width: 250px;
   
    background-color: rgb(203, 249, 203);
}

.q2{
    height: 300px;
    width: 250px;
   
    background-color:white;
}
.q3{
    height: 300px;
    width: 250px;
  
    background-color:rgb(181, 180, 180) ;
    
}
.z6{
    display: flex;
    padding-left:160px;
    margin-top: 30px;
    margin-left:30px;
    margin-bottom:50px;
     gap:2rem;
}
.x1{
    color:224F34;
    text-align: center;
}
.v1{
    background-color: rgb(246, 234, 234);
    height: 200px;
    width: 180px;
   margin-left:50px;
  
}
.v2{
    background-color:rgb(244, 217, 217);
    height: 200px;
    width: 180px;
    margin-left:50px;
   
}
.v3{
    background-color:rgb(247, 230, 230);
    height: 200px;
    width: 180px;
    margin-left:50px;
    
    
}
.aq1{
    display: flex;
    justify-content: center;
    margin:50px;
}
#qw{
     text-align: center;
}
.qw3{
    background-color: rgb(125, 213, 125);
    height:20px;
    width:20px;
     text-align: center;
     margin:20px;
}
.qw2{
    background-color: rgb(244, 229, 229);
    height:20px;
    width:20px;
     text-align: center;
     margin:20px;
}
.qw1{
   display: flex;
   justify-content: center;
   margin:30px;
}